* {
	margin: 0;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

body {

	background-color: rgb(19, 19, 19);
}

#picrelease {
	width: 200px;
	height: 200px;
}

.release_block {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
	width: 200px;
	text-align: center;
}

.content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.release_block p {
	margin-top: 5px;
}

#daterelease {
	font-size: 15px;
	color: gray;
}

#namerelease {
	font-size: 22px;
	color: white;
}

#artistrelease {
	font-size: 20px;
	color: white;
}

#lockrelease {
	width: 100px;
	height: 100px;
	position: absolute;
	margin-top: 50px;
}